.page {
    display: block;
    width: 355px;
    margin: 30px auto;
    padding: 0;

    @media (min-width: $tablet-width) {
        width: 708px;
    }

    @media (min-width: $desktop-width) {
        width: 1350px;
        margin: 45px auto 100px auto;
    }
}

.main-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 25px 0;

    @media (min-width: $desktop-width) {
        margin: 0 0 50px 0;
    }

    .headline {
        margin: 0 0 10px 0;

        @media (min-width: $tablet-width) {
            margin: 0;
        }
    }

    .link {
        display: block;
        padding: 0;
        height: 30px;
        color: $gray;
        font-size: 25px;
        text-decoration: none;

        @media (min-width: $tablet-width) {
            margin: 5px 0 0 0;
        }

        @media (min-width: $desktop-width) {
            margin: 10px 0 0 0;
        }

        &:hover,
        &:focus {
            color: $gray-A1;
            outline: none;
        }

        &:active {
            color: $dark-gray;
        }
    }
}

.filter__input {
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    margin: 0 0 30px 0;

    border: none;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 8px $rgba-black;
    font-family: "Montserrat", sans-serif;

    @media (min-width: $tablet-width) {
        font-size: 16px;
        height: 40px;
        padding: 10px 20px;
    }

    @media (min-width: $desktop-width) {
        width: 350px;
    }

    &::placeholder {
        color: $gray;
        opacity: 1;
        font-family: "Montserrat", sans-serif;
    }

    &:focus::placeholder {
        opacity: 0;
    }

    &:hover,
    &:focus {
        outline: none;
        box-shadow: 0 5px 15px $rgba-black-12;
    }
}

.directions-list {
    @extend %flex-wrap;
    margin: 0 0 25px 0;

    @media (min-width: $tablet-width) {
        margin: 0 0 50px 0;
    }

    .directions-list__item {
        width: 100%;
        margin: 0 0 10px 0;
        border-radius: 3px;
        box-shadow: 0 5px 15px $rgba-black-12;

        @media (min-width: $tablet-width) {
            width: fit-content;
            margin: 0 10px 10px 0;
        }

        .directions-list__name {
            padding: 10px 10px;
            border: none;
            text-align: center;
            font-family: "Montserrat", sans-serif;

            @media (min-width: $tablet-width) {
                padding: 10px 20px;
            }

            &:hover,
            &:focus {
                outline: none;
                box-shadow: 0 5px 15px $rgba-black-12;
            }

            &:active {
                color: $blue;
                outline: 2px solid $blue;
                background-color: $white;
            }
        }

        .directions-list__input:checked + .directions-list__name {
            color: $white;
            background-color: $light-blue;
        }

        .directions-list__input:checked:focus + .directions-list__name,
        .directions-list__input:checked:hover + .directions-list__name {
            background-color: $blue;
        }
    }
}

.center {
    position: relative;
    @extend %flex-wrap-space;
    padding: 0 0 100px 0;
}

@media (min-width: $tablet-width) {
    .forms {
        width: 360px;
    }
}
@media (min-width: $desktop-width) {
    .forms {
        width: 300px;
    }
}

.filter-programs-forms {
    @extend %flex-wrap;

    @media (min-width: $tablet-width) {
        width: 708px;
        justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
        display: block;
        width: 300px;
    }
}

.programs__headline {
    margin: 0 0 15px 0;
    font-family: "Montserrat-Bold", sans-serif;

    @media (min-width: $tablet-width) {
        margin: 0 0 30px 0;
    }
}

.programs {
    display: block;
    margin: 0 50px 0 0;

    @media (min-width: $tablet-width) {
        margin: 0 0 20px 0;
    }
}

.radio-list {
    margin: 0 0 25px 0;
    padding: 0;

    @media (min-width: $tablet-width) {
        margin: 0 0 50px 0;
    }

    .radio-list__item {
        margin: 0 0 15px 0;

        @media (min-width: $tablet-width) {
            margin: 0 0 20px 0;
        }

        .radio__label {
            display: flex;
        }

        &:last-of-type {
            margin: 0;
        }

        .radio-name {
            margin: 1px 0 0 15px;
            width: fit-content;
        }

        .radio__check {
            position: relative;
            display: block;
            width: 16px;
            height: 16px;
            margin: 3px 0 0 0;
            border-radius: 50%;
            background-color: $light-gray;
        }

        .radio-input:checked + .radio__check {
            background-color: $red-4a;

            &::before {
                position: absolute;
                content: "";
                width: 3px;
                height: 3px;

                top: 50%;
                left: 50%;

                border-radius: 50%;
                background-color: $white;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.range {
    margin: 0 0 30px 0;

    @media (min-width: $desktop-width) {
        width: 280px;
        margin: 0;
    }

    .range__budget {
        margin: 0 0 15px 0;
    }

    .range__input {
        display: block;
        width: 200px;
        -webkit-appearance: none;
        outline: none;

        @media (min-width: $tablet-width) {
            width: 708px;
        }

        @media (min-width: $desktop-width) {
            width: 280px;
        }
    }

    .range__input::-webkit-slider-runnable-track {
        height: 10px;
        border-radius: 10px;
        -webkit-appearance: none;
        background-color: $light-gray-f2;
    }

    .range__input::-moz-range-track {
        height: 3px;
        border-radius: 10px;
        -webkit-appearance: none;
        background-color: $light-gray-f2;
    }

    .range__input::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        margin-top: -2px;
        transition: 0.2s;
        border-radius: 50%;
        -webkit-appearance: none;
        background-color: $gray;

        &:hover {
            background-color: $white;
            border: 1px solid $gray;
        }
    }

    .range__input::-moz-range-thumb {
        width: 15px;
        height: 15px;
        margin-top: -2px;
        border-radius: 50%;
        -webkit-appearance: none;
        background-color: $gray;
        transition: 0.2s;
        border: none;

        &:hover {
            background-color: $white;
            border: 1px solid $gray;
        }
    }

    .range__input:focus::-webkit-slider-runnable-track {
        background-color: $light-gray-cd;
    }

    .range__input:focus::-moz-range-track {
        background-color: $light-gray-cd;
    }
}

.subjects-list {
    @extend %flex-wrap-space;
    width: 1100px;

    @media (min-width: $desktop-width) {
        width: 1000px;
        min-height: 400px;
    }

    .subjects-list__item {
        position: relative;
        width: 100%;
        padding: 20px 20px;
        margin: 0 0 20px 0;
        color: $white;
        transition: 0.3s ease;
        border-radius: 10px;

        .price {
            transition: 0.3s ease;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        @media (min-width: $tablet-width) {
            padding: 25px 27px 30px 27px;
            width: 343px;
        }

        @media (min-width: $desktop-width) {
            width: 322px;
            margin: 0 0 15px 0;
        }

        &:hover {
            background-color: $red-33;
        }

        .subjects-list__name {
            font-size: 20px;
            margin: 0 0 15px 0;
            font-family: "Montserrat-Bold", sans-serif;
        }

        .price-headline {
            height: 20px;
            margin: 0 5px 0 0;
        }

        .prices-list {
            margin: 0;
            padding: 0 0 0 10px;

            .prices-list__item {
                margin: 0 0 15px 0;

                &:last-child {
                    margin: 0;
                }
            }

            .prices-list__name {
                margin: 0;
            }
        }

        p {
            margin: 0 0 10px 0;
        }

        .subjects-list__code {
            width: 100%;
            margin: 0 0 30px 0;
            font-size: 12px;
        }
    }

    .price-none {
        height: 220px;

        @media (min-width: $tablet-width) {
            height: 230px;
        }

        .price {
            display: none;
        }

        &:hover {
            height: 450px;

            @media (min-width: $tablet-width) {
                height: 590px;
            }

            .price {
                display: flex;
            }
        }
    }

    .price-flex {
        height: 290px;

        @media (min-width: $tablet-width) {
            height: 400px;
        }

        .price {
            display: flex;
        }
    }
}

.green {
    background-color: $green;
}

.bodily {
    background-color: $bodily;
}

.neon {
    background-color: $neon;
}

.pink {
    background-color: $pink;
}

.brown {
    background-color: $brown;
}

.violet {
    background-color: $violet;
}

.yellow {
    background-color: $yellow;
}

.deep-blue {
    background-color: $deep-blue;
}

.deep-green {
    background-color: $deep-green;
}

.showButton {
    position: absolute;
    width: 300px;
    height: 45px;

    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);

    color: $white;
    border: none;
    border-radius: 3px;
    background-color: $light-blue;
    transition: 0.2s ease;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    box-shadow: 0 5px 15px $rgba-black-12;

    @media (min-width: $tablet-width) {
        font-size: 16px;
    }

    @media (min-width: $desktop-width) {
        left: 710px;
        transform: translate(0, -100%);
    }

    &:hover,
    &:focus {
        background-color: $blue;
        box-shadow: 0 5px 15px $rgba-black-12;
    }

    &:active {
        color: $blue;
        border: 2px solid $blue;
        background-color: $white;
    }
}
