*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(50%);
}

body {
  min-width: 375px;

  margin: 0;
  padding: 0;

  font-size: 14px;
  color: $dark-gray;
  font-family: "Montserrat", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.up {
  text-transform: uppercase;
}

.none {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.headline {
  font-size: 30px;
  margin: 0 0 25px 0;
  font-family: "Montserrat-Bold", sans-serif;

  @media (min-width: $desktop-width) {
    font-size: 40px;
  }
}

.bold {
  font-weight: bold;
}
